# Object files
*.o
*.ko
*.obj
*.elf

# Vim swap files.
*.swp
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
p2pvc
video
audio

# my dirs
__old_omega/
__old_vec/
args/
blacksmith/
integral/
qu/
xyz_spherical/
# my files
file.err
*.map
*.mmap
get.work.time.h
env
mmap.h
__mpreal.h
args.h
env.h
file.inp
file.log
file.r_s
file.ra_s
file.rb_s
hyperg.h
i.xyz.spherical.txt
integral.h
main.cpp
main.h
map.stream.h
math_.h
omega.h
qu.integral.h
run.rebuild.sh
spherical.harmonics.h
strlib
xyz.p.integral.h
xyz.spherical.h
macro.loop.h
# alpha/
alpha/*.siz.*
# omega
omega/trash/
omega/rpown.*
omega/ixs.omega.*log*
omega/run.*sh
omega/slm.compute.r.*
omega/spherical.pown.*
# array
array/*old.h
array/*old.cpp
# spherical
spherical/array
spherical/data_s/
spherical/array.*
spherical/poly.n.*
spherical/r.spherical.*
spherical/x.polynomial.*
spherical/x.spherical.*
spherical/*old.h
# xyz_pown_integral
xyz_pown_integral/*old.h
# math
math/*/
# vector_3d_
vector_3d_/vector.nd.h
vector_3d_/vector.struct.h
vector_3d_/file.err
vector_3d_/struct.demo.cpp
vector_3d_/__old/
# memorystream
memorystream/setw.*
memorystream/enum.*
memorystream/case.*
# mmap
mmap/memory.map.out*
mmap/memory.map.old.*
mmap/memory.map.old.*
mmap/*/
mmap/size.of.int.types.*
mmap/.MemoryMapped.*
# radial
radial/qu.radial.alp.h
# basis
basis/basis.map.*
# pseudo
pseudo/test.cpp
pseudo/*.txt
pseudo/alpha.mem.txt
pseudo/ixs.angular.dat.txt
pseudo/ixs.angular.mem.txt
pseudo/pseudo.integral.txt
pseudo/qu.radial.dat.txt
pseudo/qu.radial.mem.txt
